
:root.scheme-light {
  --p-text-color: var(--p-surface-950);

  --p-form-field-color: var(--p-text-color);
  --p-form-field-background: rgb(from var(--p-surface-950) r g b / 6%);
  --p-form-field-disabled-background: rgb(from var(--p-surface-700) r g b / 6%);
  --p-form-field-filled-background: rgb(from var(--p-surface-800) r g b / 6%);
  --p-form-field-filled-hover-background: rgb(from var(--p-surface-800) r g b / 6%);
  --p-form-field-filled-focus-background: rgb(from var(--p-surface-800) r g b / 6%);

  --p-overlay-modal-color: var(--p-text-color);
  --p-overlay-modal-background: var(--p-surface-200);
  --p-overlay-modal-border-color: var(--p-surface-700);
  --p-button-text-secondary-color: var(--p-text-color);

  --p-overlay-popover-color: var(--p-text-color);
  --p-overlay-popover-background: var(--p-surface-200);
  --p-overlay-popover-border-color: var(--p-surface-700);

  --p-overlay-select-background: var(--p-surface-200);
  --p-overlay-select-border-color: var(--p-surface-700);
  --p-overlay-select-color: var(--p-text-color);

  --p-form-field-icon-color: var(--p-surface-950);
  --p-mask-color: var(--p-surface-200);

  --p-highlight-color: var(--p-primary-950);
  --p-highlight-background: var(--p-primary-400);

  --p-highlight-focus-color: var(--p-primary-50);
  --p-highlight-focus-background: var(--p-primary-800);

  --p-select-option-selected-color: var(--p-surface-50);
  --p-select-option-selected-background: var(--p-primary-700);

  --p-select-option-focus-color: var(--p-surface-50);
  --p-select-option-focus-background: var(--p-primary-800);

  --p-select-option-selected-focus-color: var(--p-surface-50);
  --p-select-option-selected-focus-background: var(--p-primary-800);

  --p-toggleswitch-background: rgb(from var(--p-surface-950) r g b / 15%);
  --p-toggleswitch-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24) inset;

  --p-toggleswitch-handle-color: var(--p-surface-50);
  --p-toggleswitch-handle-background: var(--p-surface-50);
  --p-toggleswitch-handle-checked-background: var(--p-surface-50);
  --p-toggleswitch-checked-background: linear-gradient(0deg,
          rgb(from var(--color-theme-8) r g b / 0.43),
          rgb(from var(--color-theme-8) r g b / 0.74)
  );

  --p-tooltip-background: var(--p-surface-400);
  --p-tooltip-color: var(--p-surface-950);
  --p-tooltip-border-color: var(--p-surface-500);
  --p-tooltip-shadow: var(--p-surface-100);
  --p-tooltip-arrow-color: var(--p-surface-100);

  --p-navigation-item-icon-focus-color: var(--p-text-color);

  --p-surface-0: theme('colors.surface.1');
  --p-surface-50: theme('colors.surface.2');
  --p-surface-100: theme('colors.surface.3');
  --p-surface-200: theme('colors.surface.4');
  --p-surface-300: theme('colors.surface.5');
  --p-surface-400: theme('colors.surface.6');
  --p-surface-500: theme('colors.surface.7');
  --p-surface-600: theme('colors.surface.8');
  --p-surface-700: theme('colors.surface.8');
  --p-surface-800: theme('colors.surface.10');
  --p-surface-900: theme('colors.surface.11');
  --p-surface-950: theme('colors.surface.12');

  --p-primary-50: theme('colors.theme.1');
  --p-primary-100: theme('colors.theme.2');
  --p-primary-200: theme('colors.theme.3');
  --p-primary-300: theme('colors.theme.4');
  --p-primary-400: theme('colors.theme.5');
  --p-primary-500: theme('colors.theme.6');
  --p-primary-600: theme('colors.theme.7');
  --p-primary-700: theme('colors.theme.8');
  --p-primary-800: theme('colors.theme.9');
  --p-primary-900: theme('colors.theme.10');
  --p-primary-950: theme('colors.theme.11');
}

@media (prefers-color-scheme: light) {
  :root.scheme-system {
    --p-text-color: var(--p-surface-950);

    --p-form-field-color: var(--p-text-color);
    --p-form-field-background: rgb(from var(--p-surface-950) r g b / 6%);
    --p-form-field-disabled-background: rgb(from var(--p-surface-700) r g b / 6%);
    --p-form-field-filled-background: rgb(from var(--p-surface-800) r g b / 6%);
    --p-form-field-filled-hover-background: rgb(from var(--p-surface-800) r g b / 6%);
    --p-form-field-filled-focus-background: rgb(from var(--p-surface-800) r g b / 6%);

    --p-overlay-modal-color: var(--p-text-color);
    --p-overlay-modal-background: var(--p-surface-200);
    --p-overlay-modal-border-color: var(--p-surface-700);
    --p-button-text-secondary-color: var(--p-text-color);

    --p-overlay-popover-color: var(--p-text-color);
    --p-overlay-popover-background: var(--p-surface-200);
    --p-overlay-popover-border-color: var(--p-surface-700);

    --p-overlay-select-background: var(--p-surface-200);
    --p-overlay-select-border-color: var(--p-surface-700);
    --p-overlay-select-color: var(--p-text-color);

    --p-form-field-icon-color: var(--p-surface-950);
    --p-mask-color: var(--p-surface-200);

    --p-highlight-color: var(--p-primary-950);
    --p-highlight-background: var(--p-primary-400);

    --p-highlight-focus-color: var(--p-primary-50);
    --p-highlight-focus-background: var(--p-primary-800);

    --p-select-option-selected-color: var(--p-surface-50);
    --p-select-option-selected-background: var(--p-primary-700);

    --p-select-option-focus-color: var(--p-surface-50);
    --p-select-option-focus-background: var(--p-primary-800);

    --p-select-option-selected-focus-color: var(--p-surface-50);
    --p-select-option-selected-focus-background: var(--p-primary-800);

    --p-toggleswitch-background: rgb(from var(--p-surface-950) r g b / 15%);
    --p-toggleswitch-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24) inset;

    --p-toggleswitch-handle-color: var(--p-surface-50);
    --p-toggleswitch-handle-background: var(--p-surface-50);
    --p-toggleswitch-handle-checked-background: var(--p-surface-50);
    --p-toggleswitch-checked-background: linear-gradient(0deg,
            rgb(from var(--color-theme-8) r g b / 0.43),
            rgb(from var(--color-theme-8) r g b / 0.74)
    );

    --p-tooltip-background: var(--p-surface-400);
    --p-tooltip-color: var(--p-surface-950);
    --p-tooltip-border-color: var(--p-surface-500);
    --p-tooltip-shadow: var(--p-surface-100);
    --p-tooltip-arrow-color: var(--p-surface-100);

    --p-navigation-item-icon-focus-color: var(--p-text-color);

    --p-surface-0: theme('colors.surface.1');
    --p-surface-50: theme('colors.surface.2');
    --p-surface-100: theme('colors.surface.3');
    --p-surface-200: theme('colors.surface.4');
    --p-surface-300: theme('colors.surface.5');
    --p-surface-400: theme('colors.surface.6');
    --p-surface-500: theme('colors.surface.7');
    --p-surface-600: theme('colors.surface.8');
    --p-surface-700: theme('colors.surface.8');
    --p-surface-800: theme('colors.surface.10');
    --p-surface-900: theme('colors.surface.11');
    --p-surface-950: theme('colors.surface.12');
  }
}

:root.scheme-dark {
  --p-text-color: var(--p-surface-0);

  --p-form-field-color: var(--p-text-color);
  --p-form-field-background: rgb(from var(--p-surface-0) r g b / 6%);
  --p-form-field-disabled-background: rgb(from var(--p-surface-700) r g b / 6%);
  --p-form-field-filled-background: rgb(from var(--p-surface-800) r g b / 6%);
  --p-form-field-filled-hover-background: rgb(from var(--p-surface-800) r g b / 6%);
  --p-form-field-filled-focus-background: rgb(from var(--p-surface-800) r g b / 6%);

  --p-overlay-modal-color: var(--p-text-color);
  --p-overlay-modal-background: var(--p-surface-900);
  --p-overlay-modal-border-color: var(--p-surface-700);
  --p-button-text-secondary-color: var(--p-text-color);

  --p-overlay-popover-color: var(--p-text-color);
  --p-overlay-popover-background: var(--p-surface-900);
  --p-overlay-popover-border-color: var(--p-surface-700);

  --p-overlay-select-background: var(--p-surface-900);
  --p-overlay-select-border-color: var(--p-surface-700);
  --p-overlay-select-color: var(--p-text-color);

  --p-form-field-icon-color: var(--p-surface-950);
  --p-mask-color: var(--p-surface-900);

  --p-highlight-color: var(--p-primary-50);
  --p-highlight-background: var(--p-primary-400);

  --p-highlight-focus-color: var(--p-primary-50);
  --p-highlight-focus-background: var(--p-primary-500);

  --p-select-option-selected-color: var(--p-surface-50);
  --p-select-option-selected-background: var(--p-primary-700);

  --p-select-option-focus-color: var(--p-surface-50);
  --p-select-option-focus-background: var(--p-primary-500);

  --p-select-option-selected-focus-color: var(--p-surface-50);
  --p-select-option-selected-focus-background: var(--p-primary-500);

  --p-toggleswitch-background: rgb(from var(--surface-900) r g b / 15%);
  --p-toggleswitch-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24) inset;

  --p-toggleswitch-handle-color: var(--p-surface-0);
  --p-toggleswitch-handle-background: linear-gradient(0deg,
      rgb(from var(--surface-950) r g b / 0.43),
      rgb(from var(--surface-950) r g b / 0.74)
  );
  --p-toggleswitch-handle-checked-background: var(--p-surface-0);
  --p-toggleswitch-checked-background: linear-gradient(0deg,
    rgb(from var(--color-theme-8) r g b / 0.43),
    rgb(from var(--color-theme-8) r g b / 0.74)
  );

  --p-tooltip-background: var(--p-surface-600);
  --p-tooltip-color: var(--p-surface-0);
  --p-tooltip-border-color: var(--p-surface-500);
  --p-tooltip-shadow: var(--p-surface-100);
  --p-tooltip-arrow-color: var(--p-surface-100);

  --p-navigation-item-icon-focus-color: var(--p-text-color);

  --p-surface-0: theme('colors.surface.12');
  --p-surface-50: theme('colors.surface.11');
  --p-surface-100: theme('colors.surface.10');
  --p-surface-200: theme('colors.surface.9');
  --p-surface-300: theme('colors.surface.8');
  --p-surface-400: theme('colors.surface.7');
  --p-surface-500: theme('colors.surface.6');
  --p-surface-600: theme('colors.surface.5');
  --p-surface-700: theme('colors.surface.4');
  --p-surface-800: theme('colors.surface.3');
  --p-surface-900: theme('colors.surface.2');
  --p-surface-950: theme('colors.surface.1');

  --p-primary-50: theme('colors.theme.12');
  --p-primary-100: theme('colors.theme.11');
  --p-primary-200: theme('colors.theme.10');
  --p-primary-300: theme('colors.theme.9');
  --p-primary-400: theme('colors.theme.8');
  --p-primary-500: theme('colors.theme.7');
  --p-primary-600: theme('colors.theme.6');
  --p-primary-700: theme('colors.theme.5');
  --p-primary-800: theme('colors.theme.4');
  --p-primary-900: theme('colors.theme.3');
  --p-primary-950: theme('colors.theme.2');
}

@media (prefers-color-scheme: dark) {
  :root.scheme-system {
        --p-text-color: var(--p-surface-0);

        --p-form-field-color: var(--p-text-color);
        --p-form-field-background: rgb(from var(--p-surface-0) r g b / 6%);
        --p-form-field-disabled-background: rgb(from var(--p-surface-700) r g b / 6%);
        --p-form-field-filled-background: rgb(from var(--p-surface-800) r g b / 6%);
        --p-form-field-filled-hover-background: rgb(from var(--p-surface-800) r g b / 6%);
        --p-form-field-filled-focus-background: rgb(from var(--p-surface-800) r g b / 6%);

        --p-overlay-modal-color: var(--p-text-color);
        --p-overlay-modal-background: var(--p-surface-900);
        --p-overlay-modal-border-color: var(--p-surface-700);
      --p-button-text-secondary-color: var(--p-text-color);

        --p-overlay-popover-color: var(--p-text-color);
        --p-overlay-popover-background: var(--p-surface-900);
        --p-overlay-popover-border-color: var(--p-surface-700);

        --p-overlay-select-background: var(--p-surface-900);
        --p-overlay-select-border-color: var(--p-surface-700);
        --p-overlay-select-color: var(--p-text-color);

        --p-form-field-icon-color: var(--p-surface-950);
        --p-mask-color: var(--p-surface-900);

        --p-highlight-color: var(--p-primary-50);
        --p-highlight-background: var(--p-primary-400);

        --p-highlight-focus-color: var(--p-primary-50);
        --p-highlight-focus-background: var(--p-primary-500);

        --p-select-option-selected-color: var(--p-surface-50);
        --p-select-option-selected-background: var(--p-primary-700);

        --p-select-option-focus-color: var(--p-surface-50);
        --p-select-option-focus-background: var(--p-primary-500);

        --p-select-option-selected-focus-color: var(--p-surface-50);
        --p-select-option-selected-focus-background: var(--p-primary-500);

      --p-toggleswitch-background: rgb(from var(--surface-900) r g b / 15%);
      --p-toggleswitch-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24) inset;

      --p-toggleswitch-handle-color: var(--p-surface-0);
      --p-toggleswitch-handle-background: linear-gradient(0deg,
              rgb(from var(--surface-950) r g b / 0.43),
              rgb(from var(--surface-950) r g b / 0.74)
      );
      --p-toggleswitch-handle-checked-background: var(--p-surface-0);
      --p-toggleswitch-checked-background: linear-gradient(0deg,
              rgb(from var(--color-theme-8) r g b / 0.43),
              rgb(from var(--color-theme-8) r g b / 0.74)
      );

      --p-tooltip-background: var(--p-surface-600);
      --p-tooltip-color: var(--p-surface-0);
      --p-tooltip-border-color: var(--p-surface-500);
      --p-tooltip-shadow: var(--p-surface-100);
      --p-tooltip-arrow-color: var(--p-surface-100);

      --p-navigation-item-icon-focus-color: var(--p-text-color);

        --p-surface-0 : theme('colors.surface.12');
        --p-surface-50: theme('colors.surface.11');
        --p-surface-100: theme('colors.surface.10');
        --p-surface-200: theme('colors.surface.9');
        --p-surface-300: theme('colors.surface.8');
        --p-surface-400: theme('colors.surface.7');
        --p-surface-500: theme('colors.surface.6');
        --p-surface-600: theme('colors.surface.5');
        --p-surface-700: theme('colors.surface.4');
        --p-surface-800: theme('colors.surface.3');
        --p-surface-900: theme('colors.surface.2');
        --p-surface-950: theme('colors.surface.1');
    }
}

/* === Card === */
.p-card {
  --p-card-background: rgb(from theme('colors.surface.12') r g b / 3%);
  --p-card-color: theme('colors.surface.11');
  --p-card-shadow: theme('colors.surface.2');
  width: 100%;
}

.p-card-title {
  --p-card-title-font-size: theme(fontSize.sm);
}

.p-card-body {
  --p-card-body-padding: theme(spacing.3) theme(spacing.4);
}

.p-component {
  right: 0;
}

.p-select-overlay,
.p-multiselect-overlay {
  max-width: min-content;
}

.p-toast-top-right {
  top: 4rem !important;
}

/* Toast messages */
.p-toast-message-info,
.p-toast-message-success,
.p-toast-message-warn,
.p-toast-message-error,
.p-toast-message-secondary,
.p-toast-message-contrast {
  --p-toast-border-width: 1px;
  --p-toast-border-radius: 0.5rem;
}

.p-toast-message-content {
  align-items: center !important;
}

.p-toast-message-content > :last-child {
  align-self: flex-start;
}

.p-toast-message-text {
  --p-toast-text-gap: 0.2em;
}

.p-toast-summary {
  --p-toast-summary-font-weight: 600;
  --p-toast-summary-font-size: 1rem;
}

.p-toast-detail {
  --p-toast-detail-font-weight: 400;
  --p-toast-detail-font-size: 0.875rem;
}

.p-toast-message-icon {
  --p-toast-icon-size: 1.25rem;
  padding: 0.1em;
  border-radius: 0.2em;
  font-size: 1.5rem;
  line-height: 1;
  position: relative;
}

.p-toggleswitch-handle {
  --p-toggleswitch-transition-duration: 0.5s;
}

.p-contextmenu {
  width: fit-content;
}

// === Toast Variants ===
$toast-types: (
        'success':   'green',
        'warn':      'amber',
        'error':     'red',
        'info':      'slate',
        'secondary': 'blue',
        'contrast':  'slate'
);

@each $type, $color in $toast-types {
  .p-toast-message-#{$type} {
    --p-toast-#{$type}-background: linear-gradient(
        65deg,
        rgb(from theme('colors.surface.1') r g b / 80%),
        rgb(from theme('colors.#{$color}.900') r g b / 80%)
    );
    --p-toast-#{$type}-border-color: rgb(from theme('colors.#{$color}.900') r g b / 80%);
    --p-toast-#{$type}-color: hsl(from theme('colors.#{$color}.950') h s 20%);
    --p-toast-#{$type}-shadow: theme('colors.#{$color}.800');

    .p-toast-detail {
      --p-toast-#{$type}-detail-color: theme('colors.surface.12');
    }

    .p-toast-message-icon {
      color: rgb(from theme('colors.#{$color}.700') r g b / 80%);
    }
  }
}

.scheme-dark {
  @each $type, $color in $toast-types {
    .p-toast-message-#{$type} {
      --p-toast-#{$type}-background: linear-gradient(
          65deg,
          rgb(from theme('colors.surface.3') r g b / 80%) 20%,
          rgb(from theme('colors.#{$color}.800') r g b / 80%)
      );
      --p-toast-#{$type}-border-color: rgb(from theme('colors.#{$color}.800') r g b / 80%);
      --p-toast-#{$type}-color: hsl(from theme('colors.#{$color}.900') h s 70%);
      --p-toast-#{$type}-shadow: theme('colors.#{$color}.100');

      .p-toast-detail {
        --p-toast-#{$type}-detail-color: hsl(from theme('colors.#{$color}.100') h s 80%);
      }

      .p-toast-message-icon {
        color: rgb(from theme('colors.#{$color}.300') r g b / 80%);
      }
    }
  }
}

.p-dialog-content {
  height: 100%;
}

.p-toggleswitch {
  //--p-toggleswitch-width: 3.5rem;
}

.p-toggleswitch.p-toggleswitch-checked .p-toggleswitch-handle  {
  //--p-toggleswitch-gap: 15px;
}