:root {

}

.p-textarea {
  --p-textarea-filled-background: #151718 !important;
  --p-textarea-border-color: rgb(126 134 140) !important;
  --p-textarea-focus-border-color: rgb(var(--color-focus)) !important;
  --p-textarea-filled-focus-background: #151718 !important;
}

.p-metergroup {
  --p-metergroup-meters-background: rgb(var(--background-auto-2)) !important;
  --p-metergroup-gap: 0.5rem !important;
  --p-metergroup-label-list-horizontal-gap: 0.5rem !important;
}
.p-inputtext {
  --p-inputtext-focus-border-color: rgb(var(--color-focus)) !important;
  --p-inputtext-filled-background: #151718 !important;
  --p-inputtext-border-color: rgb(126 134 140) !important;
  --p-inputtext-color: rgb(21 23 24) !important;
}

.p-select {
  --p-select-border-color: rgb(126 134 140) !important;
  :hover {
    --p-select-border-color: rgb(165, 174, 182) !important;
  }
}

.p-select-label {
  --p-select-color: rgb(21 23 24) !important;
}


.p-select-option.p-select-option-selected {
  --p-select-option-selected-background: rgb(var(--color-focus)/80%);
  color: var(--p-select-option-selected-color);
}
.p-select-option.p-select-option-selected.p-focus {
  --p-select-option-selected-focus-background: rgb(var(--color-focus));
 color: var(--p-select-option-selected-focus-color);
}

.p-select:not(.p-disabled).p-focus {
  --p-select-focus-border-color: rgb(var(--color-focus));
  box-shadow: var(--p-select-focus-ring-shadow);
  outline: var(--p-select-focus-ring-width) var(--p-select-focus-ring-style) var(--p-select-focus-ring-color);
  outline-offset: var(--p-select-focus-ring-offset);
}

.p-checkbox-checked .p-checkbox-box {
  --p-checkbox-checked-border-color: rgb(var(--color-focus));
  --p-checkbox-checked-background: rgb(var(--color-focus));
}
.p-checkbox-checked:not(.p-disabled):has(.p-checkbox-input:hover) .p-checkbox-box {
  --p-checkbox-checked-hover-background: rgb(var(--color-focus));
  --p-checkbox-checked-hover-border-color: rgb(var(--color-focus));
}
.p-multiselect:not(.p-disabled).p-focus {
  --p-multiselect-focus-border-color: rgb(var(--color-focus));
}

html.scheme-dark {
  .p-inputtext {
    --p-inputtext-color: rgb(251 252 253) !important;
  }

  .p-select-label {
    --p-select-color: rgb(251 252 253) !important;
  }
}

label {
  @apply text-slate-light-12/80 dark:text-slate-dark-12/80 #{!important};
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active{
  -webkit-background-clip: inherit;
  -webkit-text-fill-color: inherit;
  transition: background-color 5000s ease-in-out 0s;
  box-shadow: inset 0 0 20px 20px var(--color-background);
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  color: inherit;
}

input[type="range"] {
  @apply h-2;
  @apply flex flex-1 outline-none transition-[background] duration-300 ease-in-out appearance-none rounded-full accent-focus [&::-webkit-slider-runnable-track]:rounded-full bg-slate-dark-9 dark:bg-slate-dark-9
    [&::-webkit-slider-thumb]:transition-all [&::-moz-slider-thumb]:transition-all
    [&::-webkit-slider-thumb]:duration-100 [&::-moz-slider-thumb]:duration-100
    [background-image:_-webkit-gradient(linear,_left_top,_right_top,_color-stop(var(--left),_rgb(var(--color-focus))),_color-stop(var(--left),_#ffffff80))]
    dark:[background-image:_-webkit-gradient(linear,_left_top,_right_top,_color-stop(var(--left),_rgb(var(--color-focus))),_color-stop(var(--left),_#00000080))] #{!important};
}
input[type="range"]::-webkit-slider-runnable-track {
  @apply h-2;
}
input[type="range"]::-moz-range-track {
  @apply h-2;
}

input[type="range"].vertical {
  @apply w-2;
  @apply [background-image:_-webkit-gradient(linear,_right_top,_right_bottom,_color-stop(var(--left),_rgb(var(--color-focus))),_color-stop(var(--left),_#ffffff80))]
    dark:[background-image:_-webkit-gradient(linear,_right_top,_right_bottom,_color-stop(var(--left),_rgb(var(--color-focus))),_color-stop(var(--left),_#00000080))] #{!important};
  writing-mode: vertical-lr;
}
input[type="range"].vertical::-webkit-slider-runnable-track {
  @apply w-2;
}
input[type="range"].vertical::-moz-range-track {
  @apply w-2;
}

/* For Webkit browsers (Chrome, Safari) */
input[type="range"]::-webkit-slider-thumb {
  appearance: none;
  @apply w-5 h-5 rounded-full;
  translate: 0 -25%;
  background: radial-gradient(100% 100% at 50% 0%, #FFF 0%, #C8C7CC 100%);
  box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.25) inset, 0px 6px 8px -2px rgba(0, 0, 0, 0.24);
}
input[type="range"].vertical::-webkit-slider-thumb {
  @apply rotate-180;
  translate: -25% -0;
}
input[type="range"]:hover::-webkit-slider-thumb {
}

/* For Firefox */
input[type="range"]::-moz-range-thumb {
  appearance: none;
  @apply w-5 h-5 rounded-full;
  background: radial-gradient(100% 100% at 50% 0%, #FFF 0%, #C8C7CC 100%);
  box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.25) inset, 0px 6px 8px -2px rgba(0, 0, 0, 0.24);
}
input[type="range"].vertical::-moz-range-thumb {
}
input[type="range"]:hover::-moz-range-thumb {
}

.p-select,
.p-multiselect,
.p-inputtext {
  @apply flex bg-slate-light-1 pl-2 dark:bg-slate-dark-1 border-1 rounded-lg #{!important};
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.16) inset, 0 -1px 0 0 rgba(255, 255, 255, 0.08) inset, 0 2px 2px 0 rgba(0, 0, 0, 0.16) inset;
}

.p-inputfield-sm {
  @apply text-sm py-1 #{!important};
}

.p-card {
  @apply relative flex items-start justify-start gap-2 self-stretch rounded-lg p-3 bg-slate-lightA-3 dark:bg-slate-darkA-3 #{!important};
}

.p-card-title {
  @apply text-base font-semibold text-slate-dark-1 dark:text-slate-light-1 #{!important};
}

.p-multiselect-header {
  @apply mt-1 mx-1;
}

.p-floatlabel {
  @apply left-0;
}

.p-floatlabel label {
  transform: translateY(-100%) #{!important};
  --p-floatlabel-position-x: 0.5rem;
  --p-floatlabel-position-y: 0.5rem;
}

.p-floatlabel:has(.p-textarea) label {
  --p-floatlabel-position-y: 50%;
}

.p-floatlabel-on:has(input:focus) label,
.p-floatlabel-on:has(input.p-filled) label,
.p-floatlabel-on:has(input:-webkit-autofill) label,
.p-floatlabel-on:has(textarea:focus) label,
.p-floatlabel-on:has(textarea.p-filled) label,
.p-floatlabel-on:has(.p-inputwrapper-focus) label,
.p-floatlabel-on:has(.p-inputwrapper-filled) label {
  @apply pl-2 left-0 text-3xs text-slate-light-12 dark:text-slate-dark-12 #{!important};
  transform: translateY(-50%) #{!important};
}

.p-select-option {
  @apply text-sm h-8 #{!important};
}

.p-card-body {
  @apply flex-1 w-full;
  --p-card-body-padding: 0rem;
}