@use 'sass:list';
@use 'colors-light';
@use 'colors-dark';

@each $key, $val in colors-dark.$colors-dark {
	.theme-#{$key} {
		--color-theme-1: #{list.nth($val, 1)};
		--color-theme-2: #{list.nth($val, 2)};
		--color-theme-3: #{list.nth($val, 3)};
		--color-theme-4: #{list.nth($val, 4)};
		--color-theme-5: #{list.nth($val, 5)};
		--color-theme-6: #{list.nth($val, 6)};
		--color-theme-7: #{list.nth($val, 7)};
		--color-theme-8: #{list.nth($val, 8)};
		--color-theme-9: #{list.nth($val, 9)};
		--color-theme-10: #{list.nth($val, 10)};
		--color-theme-11: #{list.nth($val, 11)};
		--color-theme-12: #{list.nth($val, 12)};
	}
}

@each $key, $val in colors-dark.$colors-dark-alpha {
	.theme-#{$key} {
		--color-theme-alpha-1: #{list.nth($val, 1)};
		--color-theme-alpha-2: #{list.nth($val, 2)};
		--color-theme-alpha-3: #{list.nth($val, 3)};
		--color-theme-alpha-4: #{list.nth($val, 4)};
		--color-theme-alpha-5: #{list.nth($val, 5)};
		--color-theme-alpha-6: #{list.nth($val, 6)};
		--color-theme-alpha-7: #{list.nth($val, 7)};
		--color-theme-alpha-8: #{list.nth($val, 8)};
		--color-theme-alpha-9: #{list.nth($val, 9)};
		--color-theme-alpha-10: #{list.nth($val, 10)};
		--color-theme-alpha-11: #{list.nth($val, 11)};
		--color-theme-alpha-12: #{list.nth($val, 12)};
	}
}
