.skip-navigation[data-v-01d2e269]{top:-50px;left:10px;background-color:#333;color:#fff;padding:10px;text-decoration:none;z-index:999;transition:top .3s}.skip-navigation[data-v-01d2e269]:focus{top:.5rem}
